<%- include("partials/header") %>

<div class="container">
    <h1>About</h1>
    <p>This is the about page of the blog. This is a simple blog application built with Express and EJS.</p>
</div>

<%- include("partials/footer") %>